.title { 
    background-color: darkorange;
    opacity: 0.75;
    color:black;
    border-style: solid;
    border-radius: 15px;
    border-bottom-left-radius: 15px;
    
    margin: auto; 
    width: 50%;
    border: 3px solid grey;
    padding: 10px;
    text-align: center;
    border: 3px solid green;
}
